*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'DynaPuff', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    
}
:root{
    --bg-color:#000000;
    --second-bg-color:#202020;
    --text-color:#fff;
    --second-color:#ccc;
    --main-color:#f1916d;
    --big-font:5rem;
    --h2-font:1.5rem;
    --p-font:1.1rem;
    --section-padding: 60px;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
     
    
}
/*nav*/
header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 15px 10%;
  border-bottom: 1px solid transparent;
  transition:.3s;
}
.logo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 70px;
}
.navlist{
   display: flex;
}
.navlist a{
   color: var(--second-color);
   font-size: 1rem;
   padding: 10px 20px;
   font-weight: 700;
}
.navlist a:hover{
   color: var(--main-color);
   transition: 1.9s;
   
} 
.soialMedia{
 display: flex;
}
.soialMedia a{
color: var(--second-color);
font-size: 1rem;
padding: 10px 20px;
font-weight: 500;
}
#menu-icon{
  font-size: 49px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  display: none;
  position: relative;
  top: 5px;
}

/*footer*/
.footer{
 
  position: relative;
  top: 280px;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:1em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:3em;
  margin:0% 1%;
  }
  
  @media (max-width:700px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  .footerNav ul{
    flex-direction: column;
  }
  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
  
}
@media (max-width: 1430px){
  header{
    padding: 25px 3%;
  }
  section{
    padding: 50px 3%;
  }
  :root{
    --big-font:4rem;
    --h2-font:1.2rem;
    
  }
  
}
@media (max-width: 1020px){
  :root{
    --big-font:3rem;
    --h2-font:1.2rem;
    --p-font:0.9rem;
  }
  .home{
    height: 70vh;
  }
}
@media (max-width: 830px){
header{
  padding: 18px 3%;
}
#menu-icon{
  display: block;
}
.navlist{
  position: absolute;
  top: -500px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background: #0b0b13;
  box-shadow: 0px 15px 30px 0px rgb(0, 0, 0 /70%);
  text-align: left;
  transition: 0.2s ease;
}
.navlist.active{
  top: 100%;
}
.soialMedia{
  position: absolute;
  top: -500px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background: #0b0b13;
  box-shadow: 0px 15px 30px 0px rgb(0, 0, 0 /70%);
  text-align: left;
  transition: 0.2s ease;
}
.soialMedia.active{
  top: 100%;
}
.navlist a{
  display: block;
  padding: 1rem;
  border-left: 2px solid var(--main-color);
  margin: 1rem;
  display: block;
}
}